In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
_df = pd.read_csv('labeled_features.csv')

In [3]:
_df.head()

,time,time_sec,time_ns,gnss_index,rest,straight,turn,axdt_sum,aydt_sum,azdt_sum,...,axdt_max,aydt_max,azdt_max,gxdt_max,gydt_max,gzdt_max,adt_max,gdt_max,gnss_index_start,gnss_index_end
0,1.554024e+09,1554023987,0.0,1,1,0,0,0.208844,0.078495,9.493337,...,0.005700,0.002976,0.101778,0.000119,0.000115,0.000103,0.101785,0.000171,1,2
1,1.554024e+09,1554023988,0.0,2,1,0,0,0.211935,0.086485,9.794426,...,0.005566,0.002930,0.101622,0.000137,0.000131,0.000090,0.101634,0.000167,2,3
2,1.554024e+09,1554023989,0.0,3,1,0,0,0.214289,0.083671,9.786784,...,0.005701,0.002926,0.101971,0.000110,0.000191,0.000181,0.101982,0.000219,3,4
3,1.554024e+09,1554023990,0.0,4,1,0,0,0.218394,0.083838,9.791271,...,0.005728,0.002998,0.102332,0.000101,0.000179,0.000102,0.102362,0.000206,4,5
4,1.554024e+09,1554023991,0.0,5,1,0,0,0.222900,0.259758,9.795122,...,0.005978,0.010632,0.102123,0.000207,0.000126,0.000130,0.102166,0.000213,5,6

In [4]:
def get_motion_state(row: pd.Series) -> str:
    if row['rest']:
        return 'rest'
    if row['straight']:
        return 'straight'
    if row['turn']:
        return 'turn'

In [7]:
y = _df.apply(lambda x: get_motion_state(x), axis=1)

In [8]:
feature_cols = 'axdt_sum,aydt_sum,azdt_sum,gxdt_sum,gydt_sum,gzdt_sum,adt_sum,gdt_sum,axdt_var,aydt_var,azdt_var,gxdt_var,gydt_var,gzdt_var,adt_var,gdt_var,axdt_min,aydt_min,azdt_min,gxdt_min,gydt_min,gzdt_min,adt_min,gdt_min,axdt_max,aydt_max,azdt_max,gxdt_max,gydt_max,gzdt_max,adt_max,gdt_max'.split(',')
feature_cols

['axdt_sum',
 'aydt_sum',
 'azdt_sum',
 'gxdt_sum',
 'gydt_sum',
 'gzdt_sum',
 'adt_sum',
 'gdt_sum',
 'axdt_var',
 'aydt_var',
 'azdt_var',
 'gxdt_var',
 'gydt_var',
 'gzdt_var',
 'adt_var',
 'gdt_var',
 'axdt_min',
 'aydt_min',
 'azdt_min',
 'gxdt_min',
 'gydt_min',
 'gzdt_min',
 'adt_min',
 'gdt_min',
 'axdt_max',
 'aydt_max',
 'azdt_max',
 'gxdt_max',
 'gydt_max',
 'gzdt_max',
 'adt_max',
 'gdt_max']

In [9]:
X = _df[feature_cols].copy()

In [12]:
print(f"X is of type {type(X)} and size {X.shape}")
print(f"y is of type {type(y)} and size {y.shape}")

X is of type <class 'pandas.core.frame.DataFrame'> and size (259, 32)
y is of type <class 'pandas.core.series.Series'> and size (259,)

In [11]:
X.head()

,axdt_sum,aydt_sum,azdt_sum,gxdt_sum,gydt_sum,gzdt_sum,adt_sum,gdt_sum,axdt_var,aydt_var,...,adt_min,gdt_min,axdt_max,aydt_max,azdt_max,gxdt_max,gydt_max,gzdt_max,adt_max,gdt_max
0,0.208844,0.078495,9.493337,-0.001675,0.001102,-0.001176,9.498792,0.008515,0.000004,0.000001,...,0.093785,0.000026,0.005700,0.002976,0.101778,0.000119,0.000115,0.000103,0.101785,0.000171
1,0.211935,0.086485,9.794426,-0.001977,0.000370,-0.000462,9.799902,0.008413,0.000004,0.000001,...,0.094010,0.000015,0.005566,0.002930,0.101622,0.000137,0.000131,0.000090,0.101634,0.000167
2,0.214289,0.083671,9.786784,-0.001740,0.000793,-0.001662,9.792245,0.009893,0.000004,0.000001,...,0.093513,0.000010,0.005701,0.002926,0.101971,0.000110,0.000191,0.000181,0.101982,0.000219
3,0.218394,0.083838,9.791271,-0.002218,0.001297,-0.001483,9.796759,0.009319,0.000004,0.000001,...,0.093461,0.000017,0.005728,0.002998,0.102332,0.000101,0.000179,0.000102,0.102362,0.000206
4,0.222900,0.259758,9.795122,-0.000059,0.001148,-0.001739,9.806574,0.009778,0.000003,0.000008,...,0.093818,0.000032,0.005978,0.010632,0.102123,0.000207,0.000126,0.000130,0.102166,0.000213

In [13]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 32 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   axdt_sum  259 non-null    float64
 1   aydt_sum  259 non-null    float64
 2   azdt_sum  259 non-null    float64
 3   gxdt_sum  259 non-null    float64
 4   gydt_sum  259 non-null    float64
 5   gzdt_sum  259 non-null    float64
 6   adt_sum   259 non-null    float64
 7   gdt_sum   259 non-null    float64
 8   axdt_var  259 non-null    float64
 9   aydt_var  259 non-null    float64
 10  azdt_var  259 non-null    float64
 11  gxdt_var  259 non-null    float64
 12  gydt_var  259 non-null    float64
 13  gzdt_var  259 non-null    float64
 14  adt_var   259 non-null    float64
 15  gdt_var   259 non-null    float64
 16  axdt_min  259 non-null    float64
 17  aydt_min  259 non-null    float64
 18  azdt_min  259 non-null    float64
 19  gxdt_min  259 non-null    float64
 20  gydt_min  259 non-null    float64
 21  gzdt_min  259 non-null    float64
 22  adt_min   259 non-null    float64
 23  gdt_min   259 non-null    float64
 24  axdt_max  259 non-null    float64
 25  aydt_max  259 non-null    float64
 26  azdt_max  259 non-null    float64
 27  gxdt_max  259 non-null    float64
 28  gydt_max  259 non-null    float64
 29  gzdt_max  259 non-null    float64
 30  adt_max   259 non-null    float64
 31  gdt_max   259 non-null    float64
dtypes: float64(32)
memory usage: 64.9 KB